.page-forgot-password:before {
  background-image: url("../../example-images/login.jpg");
}
.page-forgot-password {
 background-color: #f3f7f9;
}
.page-forgot-password p {
  color: #ffffff;
}
.page-forgot-password form {
  width: 250px;
  margin: 30px auto;
}
